<h1>Latest News Articles</h1>
<button id="scrape">Scrape new articles</button>
<ul>
  {{#each articles}}
  <li>
    <p>Headline: {{this.headline}} <br>
      Summary: {{this.summary}} <br>
      Link: <a href="{{this.url}}" target="_blank">Click Here to Read Article</a>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary comment" data-id="{{this._id}}" data-toggle="modal"
        data-target="#ModId{{this._id}}">
        Comment
      </button>

      <!-- Modal -->
      <div class="modal fade" id="ModId{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Comments for {{this.headline}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{#each this.comment}}
              {{this.body}}
              <button type="button" class="btn btn-outline-danger float-right delete" data-id="{{this._id}}" data-dismiss="modal">x</button>
              <hr>
              {{/each}}
            </div>


            <div class="form-group">
              <input type="text" class="form-control" id="message{{this._id}}" aria-describedby="emailHelp"
                placeholder="Type a Comment">
            </div>
            <button type="button" class="btn btn-primary post" data-id="{{this._id}}" data-dismiss="modal">Post
              Comment</button>


          </div>
        </div>
      </div>
    </p>
  </li>
  {{/each}}
</ul>